*{
    padding: 0;
    margin: 0;;
}
body h1{
    font-family: 'Poppins', sans-serif;
}
body p{
    font-family: 'Barlow', sans-serif;

}
body a{
    font-family: 'Barlow', sans-serif;
}
#header{
    background: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    text-align: center;
    padding: 150px 0;
}
#header h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #ffffff;
}
#header p{
    font-size: 20px;
    color: #ffffff;
    margin-top: 8px;
}
#header a {
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px 18px 20px;
    border-radius: 10px;
}
#donate{
    padding: 150px 0;
    text-align: center;
}
.donate-first{

}
.donate-first h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.donate-first p{
    font-size: 20px;
}
.donate-ammount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate-ammount h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
    padding: 40px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #0000008c;
}
.donate-ammount-select{
    background-color: #ff59596b;
    border: 2px solid #FF5959;
}