* {
    padding: 0;
    margin: 0;
    ;
}

body h1 {
    font-family: 'Poppins', sans-serif;
}

body p {
    font-family: 'Barlow', sans-serif;

}

body a {
    font-family: 'Barlow', sans-serif;
}

#header {
    background: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    text-align: center;
    padding: 150px 0;
}

#header h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

#header p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 8px;
}

#header a {
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px 18px 20px;
    border-radius: 10px;
}

#donate {
    padding: 150px 0;
    text-align: center;
}

.donate-first {}

.donate-first h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.donate-first p {
    font-size: 20px;
}

.donate-ammount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-ammount h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
    padding: 40px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #0000008c;
    background-color: #0000000e;
    margin-left: 15px;
}

.donate-ammount-select {
    border: 2px solid #FF5959;
}

.other-ammount{
    margin-top: 40px;;
}

#taka {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 2px solid #0000003f;
    padding: 5px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}
#submit {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: #FF5959;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
#donate-plan{
    padding-bottom: 150px;
}
.donate-plan-header{
    text-align: center;
    padding-bottom: 80px;
}
.donate-plan-header h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.donate-plan-header p {
    font-size: 18px;
    line-height: 25px;
}