* {
    padding: 0;
    margin: 0;
    ;
}

body h1 {
    font-family: 'Poppins', sans-serif;
}

body p {
    font-family: 'Barlow', sans-serif;

}

body a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

#header {
    background: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    text-align: center;
    padding: 150px 0;
}

#header h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

#header p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 8px;
}

#header a {
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px 18px 20px;
    border-radius: 10px;
}

#donate {
    padding: 150px 0;
    text-align: center;
}

.donate-first {}

.donate-first h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.donate-first p {
    font-size: 20px;
}

.donate-ammount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-ammount h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
    padding: 40px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #0000008c;
    background-color: #0000000e;
    margin-left: 15px;
}

.donate-ammount-select {
    border: 2px solid #FF5959;
}

.other-ammount{
    margin-top: 40px;;
}

#taka {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 2px solid #0000003f;
    padding: 5px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}
#submit {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: #FF5959;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
#donate-plan{
    padding-bottom: 150px;
}
.donate-plan-header{
    text-align: center;
    padding-bottom: 80px;
}
.donate-plan-header h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.donate-plan-header p {
    font-size: 18px;
    line-height: 25px;
}

.donate-plan-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate-plan-body-sec{
    width: 25%;
    background-color: #ff59592d;
    padding: 45px 15px;
    border-radius: 8px;
}
.donate-plan-body-sec img{
    margin-bottom: 20px;
}
.donate-plan-body-sec h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.donate-plan-body-sec p{
    font-size: 17px;
    line-height: 25px;
}
.common{
    margin: 0px 20px;
}
.unique-background{
    background-color: #EDF5F6;
}
#live-donation{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 150px;

}
.live-donation-content{
    width: 50%;
}
.live-donation-content h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 30px 0;
}
.live-donation-content p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    width: 95%;
    color: #000000ab;
}
.live-donation-content a{
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px 18px 20px;
    border-radius: 6px;
}
.live-donation-image{
    width: 50%;
}
.live-donation-image img{
    width: 100%;
    border-radius: 10px;
}

#survive{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 150px;
}
.survive-img{
    width: 50%;
}
.survive-img img{
    width: 100%;
    border-radius: 10px;
}
.survive-content{
    width: 50%;
    padding-left: 30px;
}
.survive-content h1{
    font-size: 45px;
    line-height: 50px;
    margin: 20px 0;
    width: 60%;
}
.survive-content p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    width: 95%;
    color: #000000ab;
}
.survive-content a{
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px 18px 20px;
    border-radius: 6px;
}

#donation-update{
    text-align: center;
    padding-bottom: 150px;
}
.donation-update-header{
    padding-bottom: 40px;
}
.donation-update-header h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.donation-update-header p{
    font-size: 18px;
    line-height: 25px;
}
.donation-update-email {
    background-color: #ff59591f;
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
}

#email {
    border: none;
    background-color: #00000038;
    color: #000000c4;
    padding: 15px 30px 15px 15px;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
}
#subscribe {
    margin-left: -5px;
    padding: 13px 30px 16px 15px;
    border: none;
    font-size: 16px;
    background-color: #FF5959;
    color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
}

#footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 70px 0;
}
#footer h2{
    font-size: 40px;
    font-style: italic;
    color: #FF5959;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#footer p{
    color: #ffffff;
}